.flexbox {
  display: flex;
}


.cards {
  img {
    width: 100%;
  }
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 8px;
  margin-top:20px;
}

.show {
  p {
  margin-bottom: 0;
  width: 80%;
  }
  a {
    color: $old-green;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.icon-bar {
  width: 90%;
  margin: 8px auto;
  img {
    width: 35px;
  }
  div {
    justify-content: space-around;
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.gallery {
  margin-top: 10px;
}

.farm-card {
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
}

.icon-bar-column {
padding-left: 20px;
}

.icon-box-horizontal {
  margin-bottom: 10px;
}

.hello-user {
  padding-top: 20px;
}

.link-div {
  justify-content: space-between;
  padding-top: 10px;
}

.header-dashboard {
  margin-top:20px;
  padding-top: 10px;
}

.dashboard-callout {
  margin-top: 15px;
  margin-bottom: 15px;
}


