.cards {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 4px;
}

.show {

  p {
  margin-bottom: 0;
  width: 80%;
  margin-left: 10px;
  }
  p:last-child{
    color: $old-green;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.icon-bar {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  img {
    width: 35px;
  }
}
