.btn{
    font-family: "Arvo", 'Courier New';
    font-weight: 700;
    margin-top: 16px;

}
.btn.round{
    border-radius: 8px;
    color: white;
}

.btn.round.active{
    color: #5F782F;
}

.dashboard-link {
  font-family: "Arvo", 'Courier New';
  font-weight: 700;
  padding-top: 8px;
}

