select{
    border: 1px solid #ADADAD;
    border-radius: 8px;
    outline-style: none;
    border-style: solid;
    height: calc(1.5em + 0.75rem + 2px);
}

.form-control{
    border: 1px solid #ADADAD;
    border-radius: 8px;
}
